{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student Details</title>
    <link rel="stylesheet" href="{% static 'AddSubject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
            background-image: url({% static 'AddSubject.jpg' %});
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <ul>
        <li><a style="color: white; text-decoration:none;" href="#">Dashboard</a></li> 
        <li><a style="color: white; text-decoration:none;" href="/search">Add Marks</a></li>
        <li><a style="color: white; text-decoration:none;" href="/addsub">Add Subject</a></li>
        <li><a style="color: white; text-decoration:none;" href="#">Logout</a></li>
    </ul>
    <form action="addstud" method="post" id='abc'>
        {% csrf_token %}
        <div id="div1">
        <h1>Add Student Record</h1>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message | escape }}</p>
        {% endfor %}
        {% endif %}
        {{form.as_p}}
        <button type="submit">Save</button>
        </div>   
    </form>  
    <script>
        
    </script> 
</body>
</html>
