{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Student</title>
    <link rel="stylesheet" href="{% static 'AddSubject.css' %}">
    <style>
        body{
            background-image: url({% static 'AddSubject.jpg' %});
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <ul>
        <li><a style="color: white; text-decoration:none;" href="#">Dashboard</a></li> 
        <li><a style="color: white; text-decoration:none;" href="#">Add Marks</a></li>
        <li><a style="color: white; text-decoration:none;" href="#">Add Subject</a></li>
        <li><a style="color: white; text-decoration:none;" href="#">Logout</a></li>
    </ul>
    <form action="search" method="post">
        {% csrf_token %}
        <div id="div1">
        <h1>Add Student Record</h1>
        <h2><div class="msg" style="color: rgba(177, 24, 4, 0.918);"></div></h2>
        <h3 style="margin-left: -490px;">Select Student</h3>
        <h3 style="margin-left: -490px;">Enter Roll Number</h3>
        <input id="input1" type="text" name="studroll" placeholder="Enter roll no">
        <br>
        <br>                          
        <button type="submit">Search</button>
        </div>   
    </form>  
    <script>
        
    </script> 
</body>
</html>
