{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Student</title>
    <link rel="stylesheet" href="{% static 'AddSubject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
            background-image: url({% static 'AddSubject.jpg' %});
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <ul>
        <li><a style="color: white; text-decoration:none;" href="#">Dashboard</a></li>
        <li><a style="color: white; text-decoration:none;" href="/addstud">Add Student</a></li>
        <li><a style="color: white; text-decoration:none;" href="/addsub">Add Subject</a></li>
        <li><a style="color: white; text-decoration:none;" href="#">Logout</a></li>
    </ul>
    <form action="search" method="post">
        {% csrf_token %}
        <div id="div1">
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message | escape }}</p>
        {% endfor %}
        {% endif %}
        <div class="card">
        <h5 class="card-header">Add Student Record</h5>
        <div class="card-body">
            <h5 class="card-title">Select Student</h5>
            <p class="card-text">Enter roll number :</p>
            <input class="form-control ml-2" id="input1" type="text" name="studroll" placeholder="Enter roll no">

            <br>
            <br>                        
            <button type="submit" class="btn btn-lg mb-2 pb-5 btn-danger">Search</button>
        </div>
        </div>
        
        </div>   
    </form>  
    <script>
        
    </script> 
</body>
</html>
